<h1>Hair Salon</h1>
<br>
<p>Add a new stylist:</p>
<br>
<form action="/stylists" method="post">
  <label for="stylist_name">Stylist Name:</label>
  <input id="stylist_name" name="stylist_name" type="text">

  <button type="submit">Add Stylist</button>
</form>
<br>
<form action="/clients" method="post">
  <label for="stylist_id">Select a Stylist:</label>
  <select id='stylist_id' name='stylist_id' type='text'>
    <% @stylists.each() do |stylist| %>
      <option value="<%= stylist.id()%>"> <%= stylist.stylist_name() %> </option>
    <% end %>
  </select>
  <label for="client_name">Client Name:</label>
  <input id="client_name" name="client_name" type="text">

  <button type="submit">Add Client</button>
</form>
<br>
<% if @stylists.any?() %>
<p>Click on a stylist to see their clients:</p>

<ul>
  <% @stylists.each do |stylist| %>
  <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.stylist_name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no stylists yet!</p>
<% end %>
